:root 
{ --cor-de-fundo: #F5F5F5;
     --preto: #000000;
      --branco: #FFFFFF;
       --botao-ativo: #a697ff;
        --botao-inativo: #40c0f3;
         --texto-fundo: #981fb6;
    --cor-borda: #000000;
         } 

.conteudo-principal 
{ display: flex;
     flex-direction: column;
      justify-content: center;
       align-items: center;
        max-width: 1200px ;
         width: 100%; margin: 0 auto;
         }

         .titulo-principal{
            text-align: center;
            width: 100%;
            font-size: 32px;
            color: var(--preto);
         }

         .titulo-principal span{
            color: var(--verde);
         }
         .botao
         {
            background-color: var(--botao-inativo);
            color: var(--branco);
            display: flex;
            justify-content: center;
            padding: 1em;
            font-size: 18px;
            align-items: center;
            width: 100%;
            border-bottom: 4px solid var(--preto);
            border-left: 2px solid var(--preto);
            border-right: 2px solid var(--preto);
            border-top: 4px solid var(--preto);
         }
         .botoes {
            display: block;
         }         
         .botao:first-child{
            border-radius: 40px 40px 40px 40px ;
         border-left: 4px solid var(--preto);
        }
        @media screen and (min-widht: 768px)
        {
            .botoes
            {display: flex;}
        }
        .botoes {
            display: flex;
        }
        .botao:first-child
        {
            border-radius: 40px 0px 0px 40px ;
            border-top: 4px solid var(--cor-borda);
        }
        .botao:last-child
        {
            border-radius: 0 40px 40px 0;
            border-right: 4px solid var(--cor-borda);
        }
    
        body
        {
        background-color: var(--botao-ativo);
        color: black;
        }

    .botao.ativo
        {
    background-color: var(--botao-inativo);
    padding: 40px;
    border-radius: 40px 40px 40px 40px ;
   border-bottom: 4px solid var(--cor-borda);
border-right: 4px solid var(--cor-borda);
border-left: 4px solid var(--cor-borda);
border-right: 4px solid var(--cor-borda);
}

.aba-conteudo.ativo
{
   display: block;
}

.aba-conteudo
{
   display: none;
}
.abas-textos{

    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
    border-bottom: 4px solid var(--preto);
    border-right: 4px solid var(--preto);
    border-left: 4pxsolid var(--preto);
}
.aba-conteudo.ativo
{
    display: block;
}
.aba-conteudo
{
    display: none;
}
