:root
{
--cor-de-fundo: #043a77;
--preto: #000000;
--braco: #ffffff;
--roxo: #a020f0;
--rosa: #ff00ff;
--texto-fundo: #87cefa;


}
.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100px;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: var(--preto);
}

.titulo-principal span {
     color: var(--botao-inativo);
}
.botao
{
    background-color: var(--rosa);
    color: var(--braco);
    display: flex;
    justify-content: center;
    padding: 1ex;
    font-size: 15px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--preto);
    border-left: 3px solid var(--preto);
    border-right: 3px solid var(--preto);
    border-top: 4px solid var(--preto);
}
.botoes {
    display: block;
}
.botao:first-child
{
    border-radius: 40px 40px 0 0;
}
